


<br>
<h1>Liste des Entreprises classées en ordre alphabétiques</h1>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Entreprise A
    <button type="button" class="btn btn-primary">A propos</button> 
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Entreprise B
      <button type="button" class="btn btn-primary">A propos</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Entreprise C
      <button type="button" class="btn btn-primary" [routerLink]="['/companySheet']">A propos</button>
    </li>
  </ul>